{% extends "base.html" %}
{% block content %}

<h3>Calculate Your Rate</h3>
<!-- <h5>Please enter your information accurately:</h5> -->
<form action='/' method='POST'>
{{ form.hidden_tag() }}
	<p><b>Customer ID: </b>{{ customerid }}</p>
	<p><b>Dwelling Coverage: </b>{{ form.DwellingCoverage(Placeholder="Coverage Amount") }}</p>
	{% if form.DwellingCoverage.errors %}
	<ul>
		{% for error in form.DwellingCoverage.errors %}
			<li>{{ error }}</li>
		{% endfor %}
	</ul>
{% endif %}
	<p><b>Age of Home: </b>{{ form.HomeAge(Placeholder="Years") }}</p>
	{% if form.HomeAge.errors %}
	<ul>
		{% for error in form.HomeAge.errors %}
			<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<p><b>Roof Type: </b>{{ form.RoofType }}</p>
	<p><b>Number of Units: </b>{{ form.NumberOfUnits }}</p>
	<p><b>Partner Discount? </b>{{ form.PartnerDiscount }}</p>
	{{ form.Calculate }}
</form>
{% endblock %}