<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% block content %}
<form action="/reset" method="GET">
{{ form.hidden_tag() }}
<h1>Your Estimated Total Premium Is: ${{ rate }}</h1>
<h3>Details of your rate:</h3>
<p><b>Customer ID: </b>{{ customerid }}</p>
<p><b>Dwellng Coverage Rate: </b>{{ dwelling }}</p>
<p><b>Home Age Rate: </b>{{ age }}</p>
<p><b>Roof Type Rate: </b>{{ roof }}</p>
<p><b>Number of Units Rate: </b>{{ units }}</p>
<p><b>Discount: </b>${{ discount }}</p>
<input type="submit" value="Try Again">
</form>
{% endblock %}
</body>
</html>