{% extends "base.html" %}
{% block content %}
<form action="/reset" method="GET">
{{ form.hidden_tag() }}
<h3>Premium Summary</h3>
<p><b>Customer ID: </b>{{ quote.CustomerID }}</p>
<p><b>Dwelling Coverage: </b>{{ quote.DwellingCoverage | currencyFormat }}
<br>
<b>Your Rate: </b>{{ quote.DwellingRate | numberRounder }}</p>
<p><b>Home Age: </b>{{ quote.HomeAge }}
<br>
<b>Your Rate: </b>{{ quote.AgeRate | numberRounder }}</p>
<p><b>Roof Type: </b>{{ quote.RoofType }}
<br>
<b>Your Rate: </b>{{ quote.RoofRate }}</p>
<p><b>Number of Units: </b> {{ quote.NumberOfUnits }}
<br>
<b>Your Rate: </b>{{ quote.UnitsRate | currencyFormat }}</p>
{% if quote.Discount != 0 %}
	<p><b>Partner Discount: </b>{{ quote.Discount | currencyFormat }}</p>
{% endif %}
<h3>Premium Total: {{ quote.Premium | currencyFormat }}</h3>
{{ form.NewQuote }}
</form>
{% endblock %}